<!DOCTYPE html>
<html>
<head>
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.message }}</h1>
    <p>Application: {{ application_name }}</p>
    <p>Project: {{ item.name }}</p>
    <p>Port: {{ item.port }}</p>
</body>
</html>